<%inherit file="app_base.htm" />

<%block name="site_center">
    <div class="container ">
        <form method="POST" style="margin-top: 180px">
        <center><h3><b>Log In</b></h3></center>
        
        <div class="row justify-content-md-center" style="margin-top: 40px">       
                <div>
                    <table class="fadeIn second">
                        ${ form.as_table() }
                    </table>
                    <br>
                </div>
                <br>
        </div>      
        <div class="justify-content-md-center">
            <center><button type="submit" id="submit" class="login100-form-btn" style="width:150px">Log In</button></center>          
        </div>  
        </form>
      </div>     
     
</%block>