<%inherit file="app_base.htm" />

<%block name="site_center">


    <div class="container wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Login Form -->
          <form method="POST" class="fadeIn first">
            <table class="fadeIn second">
                ${ form.as_table() }
            </table>
            <br>
            <center><button type="submit" id="submit" class="btn btn-primary">Log In</button></center>
            <br>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter" class="fadeIn fourth">
            <a href="#">Forgot Password?</a>
          </div>
      
        </div>
    </div>
    

</%block>