## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>2-7 &mdash; <%block name="title"></%block></title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        
        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
       ## <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       ## <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       ## render the static file links with the same name as this template
       <script src="/django_mako_plus/dmp-common.min.js"></script>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Government Opioid Prescription Database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="navbar-collapse collapse show">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                        <a class="nav-link ${ 'active' if request.dmp.page == 'index' else ''}" href="/">Home</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link ${ 'active' if request.dmp.page == 'contact' else ''}" href ="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link ${ 'active' if request.dmp.page == 'about' else ''}" href ="/about/">About</a>
                </li>                       
              </ul>
              <ul class="navbar-nav ">
                    % if user.is_authenticated:
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <strong>Welcome, ${request.user.first_name}</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/homepage/about/">View Account</a>
                    <a class="dropdown-item" href="/account/logout">Logout</a>
                    </div>
                    </li>
                    % else:
                    <li class="align-items-end active"><a class="nav-link" href="/account/login/"><strong>Login</strong></a></li>
                    % endif
              </ul>
            </div>
          </nav>    
    </head>
    <body>    
                    <main>
                        <div id="site_left">
                            <%block name="site_left">
                            Left side
                            </%block>
                        </div>
                        <div id="site_center">
                            <%block name="site_center">
                            Center
                            </%block>
                        </div>
                        <div id="site_right">
                            <%block name="site_right">
                          
                            </%block>
                        </div>
                    </main>
            
                    <footer>
                       <%! from datetime import datetime %>
                            <p>2-7 Solutions &copy; Copyright 2019</p>        
                    </footer>
            
                </body>
        </div>        
</html>