<%inherit file="app_base.htm" />

<%block name="site_center">
     <div class="container wrapper" style="margin-top: -600px">
            <input class="btn btn-secondary my-2 my-sm-0" type=button value="Go Back" onClick="javascript:history.go(-1);">
        <div id="catalog">
            <br>
                <h1>${opioids.drugName}</h1>
                <hr>
                %if value == 1:
                    <div class="alert alert-warning col-4" role="alert">
                            This drug is an opiate.
                    </div>
                %elif value == 0:
                    <div class="alert alert-info col-4" role="alert">
                            This drug is not an opiate.
                    </div>
                %endif
                <br>
                <h2>Top 10 Prescribers of ${opioids.drugName.lower().capitalize()}</h2>

                %for drug in listdrugs:
                    <a href="/catalog/prescribersdetail/${drug.doctor.doctorID}">
                    <h3>${drug.doctor.fName} ${drug.doctor.lName} - ${drug.doctor.specialty}</h3>
                    </a>
                %endfor
                
        </div>
        <div>
            <fieldset>
                    <legend>Related Drugs</legend>
                    %for item in recommender:
                    <a href="/catalog/drugsdetail/${item.id}">
                        <h3>${item.drugName.lower().capitalize()}</h3>
                    </a>
                    %endfor
            </fieldset>
        </div>
        <div class="push" style="margin-bottom: 300px;"></div>
     </div> 

</%block>