<%inherit file="app_base.htm" />

<%block name="site_center">
    <div class="container" style="margin-top: 80px">
            <input class="btn btn-secondary my-2 my-sm-0" type=button value="Back" onClick="javascript:history.go(-1);">
            <div id="catalog">
                <br>
                    <h1>${prescribers.fName} ${prescribers.lName}</h1>
                    <br>
                    <h2>Personal Information</h2>
                    <h3>Gender: ${prescribers.gender}</h3>
                    <h3>Credentials: ${prescribers.credentials}</h3>
                    <h3>Location: ${prescribers.state}</h3>
                    <h3>Specialty: ${prescribers.specialty}</h3><br><br>

                    <h2>Top prescribed drugs by Dr. ${prescribers.lName}</h2>
                %for drug in drugs:
                    <a href="${drug.id}">
                    <h3>${drug.drug}</h3>
                    </a>
                %endfor
            </div>
            <div>
                <fieldset>
                    <legend>Related Prescribers</legend>
                    
                </fieldset>
            </div>
    </div>   

</%block>